import 'package:built_collection/built_collection.dart';
import 'package:built_value/json_object.dart';
import 'package:built_value/serializer.dart';
{{#models}}
  {{#model}}
    {{#isEnum}}
import 'package:{{pubName}}/model/{{classFilename}}.dart'; // enum
    {{/isEnum}}
    {{^isEnum}}
import 'package:{{pubName}}/model/{{classFilename}}.dart';
    {{/isEnum}}
  {{/model}}
{{/models}}

part 'serializers.g.dart';

/// Example of how to use built_value serialization.
///
/// Declare a top level [Serializers] field called serializers. Annotate it
/// with [SerializersFor] and provide a `const` `List` of types you want to
/// be serializable.
///
/// The built_value code generator will provide the implementation. It will
/// contain serializers for all the types asked for explicitly plus all the
/// types needed transitively via fields.
///
/// You usually only need to do this once per project.
@SerializersFor([
{{#models}}
  {{#model}}
    {{#isEnum}}
  {{classname}}, // enum
    {{/isEnum}}
    {{^isEnum}}
  {{classname}},
    {{/isEnum}}
  {{/model}}
{{/models}}
])
final Serializers serializers = _$serializers;
